/* Styles for the expense item container */
.expense-item {
  display: flex; /* Display the expense item as a flex container */
  justify-content: space-between;
  align-items: center; /* Vertically align the items in the center of the container*/

  padding: 0.5rem; /* Add padding around the content of the container */
  margin: 1rem 0; /* Add margin above and below the container*/
  background-color: #4b4b4b; /*Set the background color of the container to a dark gray */
}

/* Styles for the description section within the expense item */
.expense-item__description {
  display: flex;
  /* gap: 1rem; Set the gap between the items in the column */
  align-items: flex-end; /* Align the items to the right within the column*/
  flex-flow: column-reverse; /*Reverse the order of the items in the column */
  justify-content: flex-start; /* Align the items to the top of the column*/
  flex: 1; /* Allow the description section to grow and fill the available space*/
  flex-direction: row; /* Arrange the items in a horizontal row*/
}

/* Styles for the heading within the expense item */
.expense-item h2 {
  font-size: 1rem; /*Set the font size of the heading */
  flex: 1; /*Allow the heading to grow and fill the available space */
  margin: 0 1rem; /* Add left and right margin to the heading*/
  color: white; /*Set the text color of the heading to white */
}

/* Styles for the price section within the expense item */
.expense-item__price {
  font-size: 1.25rem; /*Set the font size of the price section */
  font-weight: bold; /*Set the font weight of the price section to bold */
  color: white; /*Set the text color of the price section to white */
  background-color: #40005d; /* Set the background color of the price section to a dark purple*/
  border: 1px solid white; /* Add a white border around the price section*/
  padding: 0.5rem 1.5rem; /*Add padding around the content of the price section */
  border-radius: 12px; /*Apply rounded corners to the price section */
}

/* Adjusted styles for the heading within the expense item */
.expense-item__description h2 {
  font-size: 1.25rem; /* Increase the font size of the heading*/
}
